@import url("reset.css");
@import url(http://fonts.googleapis.com/css?family=Cabin:400);

@font-face {
    font-family: dabrain;
    src: url(font/dabrain.ttf);
}


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#logo {
    font-family: dabrain;
    font-size: 35px;
    color: #FF3500;
    margin: auto;
    width: 10%;
    font-weight: bold;
    }

#wrapper {
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
}

#header {
    float: left;
    height: 40px;
    width: 100%;
    background: #FFFFFF;
}

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    background: #FFFFFF;
    margin-left: 300px;
    margin-right: 300px;
}

#leftcolumn {
    background: #FFFFFF;
    width: 300px;
    float: left;
    margin-left:-100%;
}

#rightcolumn {
    background: #FFFFFF;
    width: 300px;
    float: left;
    margin-left: -300px;
}

#footer {
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    clear: both;
}

#search {
    float:left;
}

